* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

a, a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(hsl(340, 80%, 69%)), to(hsl(15, 93%, 71%)));
  background: linear-gradient(90deg, hsl(340, 80%, 69%) 0%, hsl(15, 93%, 71%) 100%);
}
.container .todo {
  border-radius: 1rem;
  background-color: blue;
  overflow: hidden;
  position: relative;
}
.container .todo input {
  padding: 0 9rem 0 1rem;
  height: 6rem;
  width: 30rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
}
.container .todo input:focus {
  outline: 2px groove rgb(238, 90, 115);
}
.container .todo button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  background-color: pink;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container .todo button:hover {
  cursor: pointer;
  background-color: rgb(248, 159, 174);
}
.container .todo ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #afafaf;
  padding: 1rem 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .todo ul li:last-child {
  border-bottom: none;
}
.container .todo ul li:hover {
  cursor: pointer;
}
.container .todo ul li i:hover {
  cursor: pointer;
  opacity: 0.6;
}
.container .todo .through {
  text-decoration: line-through;
  color: gray;
}